#section1{
  margin-top: 60px;
}
/* section one */
.image1 {
  background-image: url(/Images/cola1.webp);
  background-size: cover;
  height: 65vh;
  background-position: center center;
  opacity: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.image2 {
  background-image: url(/Images/cola2.webp);
  background-size: cover;
  height: 65vh;
  background-position: center center;
  opacity: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* section two */
.image3 {
  background-image: url(/Images/colac4.webp);
  background-size: cover;
  height: 65vh;
  background-position: center center;
  opacity: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image4 {
  background-image: url(/Images/cola3.webp);
  background-size: cover;
  height: 65vh;
  background-position: center center;
  opacity: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* section three */
.image5 {
  background-image: url(/Images/colac6.webp);
  background-size: cover;
  height: 65vh;
  background-position: center center;
  opacity: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image6 {
  background-image: url(/Images/cola5.webp);
  background-size: cover;
  height: 65vh;
  background-position: center center;
  opacity: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
footer {
  border-top: 1px solid white;
  background-color: #4a4a4a;
}

.logo {
  padding-top: 7vh;
}

.links {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

